@media screen and (min-device-width: 981px) and (max-device-width: 1024px){
    *,
    *:before,
    *:after{
        box-sizing: border-box;
    }

    body {
        background-color: green;
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 1.6;
        color: #333;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}